<ul>
  <% _.each(docs, function(doc) { %>
    <li> <%= doc.name %> </li>
    <ul>
      <% _.each(doc.builds, function(build) { %>
        <li>
            <p>
              <%= build.id %> - <%= build.timestamp %>
            </p>
            <p>
              <%= build.sha1 %>
            </p>
        </li>
      <% }); %>    
    </ul>
  <% }); %>
</ul>