<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Wirephone FlyByWire.</h1>
		<p>This is where everyting comes together. Pick your flavor on the upper navigation link.</p>
	</div>
</div>